main {
    background-color: azure;
    width: 100%;
    height: 100vh;
}

div.page-wrapper {
    width: 1200px;
    margin: 0 auto;
}

div.carousel-container {
    margin: 0 auto;
    background-color: brown;
    width: 90%;
    height: 600px;
}

.my_title {
    font-size: 3rem;
    font-weight: 700;
}